<section class="green-sec-bg relative">
    <video class=" h-full absolute w-full object-cover" src="../../assets/videos/vecteezy_green-bokeh-particle__701.mp4" autoplay loop muted preload="auto"></video>
    <div class="over-lay w-full h-full backdrop-blur-3xl flex justify-center place-items-center relative">
        <div class="content w-4/5 mx-auto">
            <p class="huge-text-name font-bold text-white mb-10">
                G-riend <span>Gamer</span>  
            </p>
            <div class="flex w-full h-full justify-between gap-6">
                <div class="about-this">
                    <h2>About this app</h2>
                    <p>This is a <strong>mobile app</strong> created for gamer geeks like me to share information about games and their gameplays. It allows gamers to have a new platform to socialize and become friends in the world that they love.</p>
                    <p>Built using <strong>Angular 2+, Node Js, Express, PostgreSQL and the Tailwind CSS</strong> framework</p>
                    <a href="https://g-riend-gamer-app.vercel.app/" target="_blank" rel="nonreferer" class="btn px-7 my-5 text-white btn-ghost use-app-griend">Try this app</a>
                </div>
                <div class="images-cont px-3 w-full min-h-full flex justify-center gap-3"> 
                    <img src="../../assets/Images/Index.png" alt="" class="screenshot rounded-xl">
                    <img src="../../assets/Images/Index.png" alt="" class="screenshot rounded-xl">
                    <img src="../../assets/Images/Index.png" alt="" class="screenshot rounded-xl">
                    <img src="../../assets/Images/Index.png" alt="" class="screenshot rounded-xl">
                    <img src="../../assets/Images/Index.png" alt="" class="screenshot rounded-xl">

                </div>



            </div>

            
        </div>


        <span class="game-on">griend</span>
        <span class="game-on">gamer</span>
        <span class="game-on">play</span>
        <span class="game-on">share</span>
        <span class="game-on">socialize</span>
        <span class="game-on">friend</span>



    </div>


</section>